[Unit]
Description=Runs the rover launch file in a new screen
Requires=network-online.target network.target local-fs.target
After=network-online.target network.target local-fs.target

[Service]
User=nvidia
Group=users
Type=forking
ExecStart=~/nova_ws/src/rover/core/systemctl/rover.sh
TimeoutStartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
