<launch>
    <arg name="robot_model" default="rover"/>
    <arg name="gazebo" default="false"/>
    <arg name="model" default="$(find core)/urdf/$(arg robot_model).urdf.xacro gazebo:=$(arg gazebo)"/>

    <param name="$(arg robot_model)/robot_description" command="xacro $(arg model)" />

    <node
            name="robot_state_publisher"
            pkg="robot_state_publisher"
            type="robot_state_publisher"
            ns="$(arg robot_model)">
    </node>
</launch>