[submodule "src/ros/rover/autonomous/pybind11"]
	path = src/ros/rover/autonomous/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "src/ros/rover/nova_gazebo/nova_terrain"]
	path = src/ros/rover/nova_gazebo/nova_terrain
	url = git@github.com:MonashNovaRover/nova_terrain
[submodule "src/ros/gui"]
	path = src/ros/gui
	url = git@github.com:MonashNovaRover/gui
[submodule "src/other/coms_utils"]
	path = src/other/coms_utils
	url = git@github.com:MonashNovaRover/coms_utils
[submodule "src/other/libblcmd"]
	path = src/other/libblcmd
	url = git@github.com:MonashNovaRover/libblcmd
[submodule "src/other/libcanmd"]
	path = src/other/libcanmd
	url = git@github.com:MonashNovaRover/libcanmd
[submodule ".src/ros/rover/nova_gazebo/nova_terrain"]
	path = .src/ros/rover/nova_gazebo/nova_terrain
	url = git@github.com:MonashNovaRover/nova_terrain
