[submodule "src/ros/rover/autonomous/pybind11"]
	path = src/ros/rover/autonomous/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "src/ros/rover/nova_gazebo/nova_terrain"]
	path = src/ros/rover/nova_gazebo/nova_terrain
	url = git@github.com:pybind/pybind11.git
