[submodule "src/other/coms_utils"]
	path = src/other/coms_utils
	url = git@github.com:MonashNovaRover/coms_utils
[submodule "src/other/libblcmd"]
	path = src/other/libblcmd
	url = git@github.com:MonashNovaRover/libblcmd
[submodule "src/other/libcanmd"]
	path = src/other/libcanmd
	url = git@github.com:MonashNovaRover/libcanmd
[submodule "src/other/secrets"]
	path = src/other/secrets
	url = git@github.com:MonashNovaRover/secrets.git
	branch = master
