<?xml version="1.0" encoding="utf-8" ?>
<!--This is a file for the auto mount (to which the OAK camera is attached to) for the rover in gazebo. This file is referenced at the bottom of rover.urdf.xacro,
which is how it gets added to the gazebo sim. Edited by: Anthony Lew -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="auto_cam" params="angle">
        <link name="clam">
            <inertial>
                <origin xyz="4.3618339694e-03 1.2133827812e-02 1.8554431144e-01" rpy="0 0 0" />
                <mass value="3.34292" />
                <inertia ixx="1.8690375727e-01" ixy="7.0026990242e-04" ixz="-1.0729852069e-03" iyy="1.7044341425e-01" iyz="4.9400999576e-02" izz="7.5561973482e-02" />
            </inertial>
            
            <visual>
                <origin xyz="0.138856 0.281 0.00511278" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <mesh filename="file://$(find rover_description)/rover7/auto/meshes/clam.stl" />
                </geometry>
                <material name="clam_material">
                    <color rgba="0.866667 0.0745098 0.32549 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0.138821 0.291 0.0151127" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <box size="0.3 0.02 0.06" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.278786 0.171 0.0256009" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <box size="0.02 0.25 0.04" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.00121269 0.171 0.0246244" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <box size="0.02 0.25 0.04" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.0655542 0.3285 -0.195144" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <cylinder length="0.4" radius="0.013" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.226553 0.3285 -0.194583" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <cylinder length="0.4" radius="0.013" />
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.147338 0.331 -0.41986" rpy="3.14159 -0.00348764 3.3577e-34" />
                <geometry>
                    <box size="0.2 0.04 0.05" />
                </geometry>
            </collision>
        </link>
        
        <link name="cameraholder">
            <inertial>
                <origin xyz="5.4750170172e-03 -1.5107203475e-01 4.4981914564e-01" rpy="0 0 0" />
                <mass value="0.118957" />
                <inertia ixx="8.8360989011e-05" ixy="-1.7069131990e-08" ixz="-1.0337114105e-06" iyy="3.3398137741e-04" iyz="4.8900042893e-06" izz="3.8467123592e-04" />
            </inertial>
            
            <visual>
                <origin xyz="-0.433382 -0.134345 0.0529562" rpy="8.05372e-18 -1.56731 -3.0463" />
                <geometry>
                    <mesh filename="file://$(find rover_description)/rover7/auto/meshes/cameraholder.stl" />
                </geometry>
                <material name="cameraholder_material">
                    <color rgba="0.866667 0.0745098 0.32549 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0.00218838 0.0378801 0.0590256" rpy="-0.113446 -1.56731 -3.0463" />
                <geometry>
                    <box size="0.143 0.086 0.05" />
                </geometry>
            </collision>
        </link>
        
        
        <joint name="oak_to_mount" type="fixed">
            <origin xyz="-4.996e-16 0.08 0.06" rpy="-1.5708 -1.56732 -3.14159" />
            <parent link="cameraholder" />
            <child link="camera_link" />
            <axis xyz="0 0 1" />
        </joint>
        
        <joint name="camera_angle" type="fixed">
            <origin xyz="0.0859 0.3735 -0.439086" rpy="1.5708 ${angle*(pi/180)+1.54884} 1.5708" />
            <parent link="clam" />
            <child link="cameraholder" />
            <axis xyz="0 0 1" />
        </joint>
        
        <joint name="auto_mount_to_chassis" type="fixed">
            <origin xyz="0.124 -0.141 0.04" rpy="3.14159 -1.01333e-15 1.5708" />
            <parent link="chassis" />
            <child link="clam" />
            <axis xyz="0 0 1" />
        </joint>
    </xacro:macro>
</robot>