<?xml version="1.0" encoding="utf-8"?>
<!-- Configure Closed Kinetic Chains for Rover -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>left_leg</parent_link>
            <child_model>$(arg robot_name)</child_model>
            <child_link>diffend</child_link>
            <output_topic>close_loop_left</output_topic>
        </plugin>
        
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>right_leg</parent_link>
            <child_model>$(arg robot_name)</child_model>
            <child_link>diffend_2</child_link>
            <output_topic>close_loop_right</output_topic>
        </plugin>
    </gazebo>
</robot>

<!-- diffend is on the left leg, diffend_2 is on the right leg, this is temp. -->
