<?xml version="1.0" encoding="utf-8" ?>

<!-- messages sent to/from a blcmd,
 interpreted using calculations in blcmd_hardware2.cpp,
 requiring constants from ros2_control.urdf.xacro -->

<!-- only effort, velocity and position commands/telemtry are interpreted,
 and may be reported in degrees or radians (per parameter unit_radians) -->

<wrapper xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include generic blcmd macro -->
    <xacro:include filename="blcmd.kcd.xacro"/>

    <!-- obtain additional parameters from definitions in ros2_control.xacro -->
    <!-- resolver_reduction, res_ticks_per_rev and zero_offset are optional if interpret_position is False -->
    <xacro:macro name="blcmd_interpreted_board" params="
    blcmd_id
    joint_name
    blcmd_node_id
    unit_radians:=False

    reversed
    clock_rate
    revolution_pulses
    min_interval
    gear_ratio

    interpret_position:=False
    resolver_reduction:=None
    res_ticks_per_rev:=None
    zero_offset:=None

    velocity_command_slope_multiplier:=1
    velocity_telemetry_slope_multiplier:=1
    position_command_slope_multiplier:=1
    position_command_intercept_multiplier:=1
    position_telemetry_slope_multiplier:=1
    position_telemetry_intercept_multiplier:=1">

        <!-- all calculations are derived from blcmd_hardware2.cpp -->

        <!-- constants -->

        <xacro:property name="signed_16_bit_integer_limit" value="${2**15 - 1}"/>
        <xacro:property name="reversed_multiplier" value="${-1 if reversed else 1}"/>

        <!-- calculations -->

        <!-- display radians or degrees -->
        <xacro:if value="${unit_radians}">
            <xacro:property name="angular_velocity_unit" value="rad/s"/>
            <xacro:property name="angle_unit" value="rad"/>
            <xacro:property name="conversion_multiplier" value="1"/>
        </xacro:if>
        <xacro:unless value="${unit_radians}">
            <xacro:property name="angular_velocity_unit" value="deg/s"/>
            <xacro:property name="angle_unit" value="deg"/>
            <xacro:property name="conversion_multiplier" value="${180 / pi}"/>
        </xacro:unless>

        <!-- effort -->
        <xacro:property name="effort_slope" value="${1 / signed_16_bit_integer_limit * reversed_multiplier}"/>

        <!-- velocity -->
        <xacro:property name="max_velocity" value="${ (clock_rate) / (min_interval * revolution_pulses * gear_ratio) * 2 * pi }"/>

        <xacro:property name="velocity_command_slope" value="${ max_velocity / signed_16_bit_integer_limit * reversed_multiplier * conversion_multiplier}"/>
        <xacro:property name="velocity_telemetry_slope" value="${ max_velocity / signed_16_bit_integer_limit * reversed_multiplier * conversion_multiplier}"/>

        <!-- position -->
        <xacro:if value="${interpret_position}">
            <xacro:property name="position_slope" value="${(2 * pi) / (reversed_multiplier * resolver_reduction * res_ticks_per_rev) * conversion_multiplier}"/>
            <xacro:property name="position_intercept" value="${position_slope * -zero_offset}"/>
        </xacro:if>
        <xacro:unless value="${interpret_position}">
            <xacro:property name="position_slope" value="1"/>
            <xacro:property name="position_intercept" value="0"/>
            <xacro:property name="angle_unit" value="" lazy_eval="False"/>
        </xacro:unless>


        <xacro:blcmd_board
                blcmd_id="${blcmd_id}"
                joint_name="${joint_name}"
                blcmd_node_id="${blcmd_node_id}"

                drive_at_current_slope="${effort_slope}"
                telemetry_packet_1_effort_slope="${effort_slope}"

                drive_at_speed_slope="${velocity_command_slope * velocity_command_slope_multiplier}"
                drive_at_speed_unit="${angular_velocity_unit}"
                telemetry_packet_1_velocity_slope="${velocity_telemetry_slope * velocity_telemetry_slope_multiplier}"
                telemetry_packet_1_velocity_unit="${angular_velocity_unit}"

                drive_to_position_intercept="${position_intercept * position_command_intercept_multiplier}"
                drive_to_position_slope="${position_slope * position_command_slope_multiplier}"
                drive_to_position_unit="${angle_unit}"
                telemetry_packet_3_resolver_position_intercept="${position_intercept * position_telemetry_intercept_multiplier}"
                telemetry_packet_3_resolver_position_slope="${position_slope * position_telemetry_slope_multiplier}"
                telemetry_packet_3_resolver_position_unit="${angle_unit}"
        />

    </xacro:macro>
</wrapper>
