<?xml version="1.0" encoding="utf-8"?>
<!--This is a file coding up the depth camera for the rover in gazebo. This file is referenced at the bottom of rover.urdf.xacro, 
which is how it gets added to the gazebo sim. Author/s: Victor Bartlinski-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <joint name="camera_joint" type="fixed">
    <origin xyz="0 0 0.48" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="camera_link" />
  </joint>

  <link name='camera_link'>
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />
      <geometry>
        <mesh
          filename="file:///$(find core)/meshes/d455.STL" 
          scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="camera_frame_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    <parent link="camera_link" />
    <child link="camera_link_frame" />
  </joint>

  <link name="camera_link_frame"></link>

  <gazebo reference="camera_link">

    <sensor type="depth" name="camera">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <camera>
        <horizontal_fov>${radians(87)}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.4</near>
          <far>6.0</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <frame_name>camera_link_frame</frame_name>
        <min_depth>0.1</min_depth>
        <max_depth>100.0</max_depth>
      </plugin>
    </sensor>
  </gazebo>

</robot>