<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 9d7e75957ca5d1dfa9fa5240 -->
<robot name="Banksia">
  <!-- Link chassis -->
  <link name="chassis">
    <inertial>
      <origin xyz="-0.140796 -0.0002061 0.0166523" rpy="0 0 0"/>
      <mass value="5.45693"/>
      <inertia ixx="0.167067" ixy="0.000276712" ixz="0.00744076" iyy="0.204175" iyz="-0.000208712" izz="0.322013"/>
    </inertial>
    <!-- Part chassis -->
    <collision>
      <origin xyz="-0.1725 9.30182e-18 0.0235" rpy="-4.03092e-16 -5.97772e-16 1.5708"/>
      <geometry>
        <box size="0.48 0.545 0.175"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="1.23537e-17 1.38778e-17 -1.29927e-16" rpy="-4.03092e-16 -5.97772e-16 1.5708"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/chassis.stl"/>
      </geometry>
      <material name="chassis_material">
        <color rgba="0.882353 0.176471 0.415686 1"/>
      </material>
    </visual>
  </link>
  <!-- Link right_leg -->
  <link name="right_leg">
    <inertial>
      <origin xyz="0.00655458 0.0038735 0.0314705" rpy="0 0 0"/>
      <mass value="3.36147"/>
      <inertia ixx="0.00979711" ixy="-0.0131859" ixz="-0.00163276" iyy="0.499857" iyz="0.000195061" izz="0.496008"/>
    </inertial>
    <!-- Part right_leg -->
    <collision>
      <origin xyz="-7.94612e-19 -7.28584e-20 -0.021" rpy="3.14159 3.78387e-17 1.52126e-18"/>
      <geometry>
        <cylinder length="0.058" radius="0.043"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0854333 -0.00985748 -0.0136532" rpy="3.01942 -1.309 0.235619"/>
      <geometry>
        <cylinder length="0.09" radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.314372 -0.0380539 0.044033" rpy="3.01942 -1.32645 0.235619"/>
      <geometry>
        <cylinder length="0.39" radius="0.025"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.453656 0.00133184 0.0816002" rpy="-3.14159 -0.279252 -3.10669"/>
      <geometry>
        <box size="0.106 0.065 0.077"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.444729 0.01 0.0108859" rpy="-3.14159 -0.261799 -3.14159"/>
      <geometry>
        <cylinder length="0.052" radius="0.045"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0858691 -0.00456955 -0.0135428" rpy="-3.07178 -1.309 3.01942"/>
      <geometry>
        <cylinder length="0.09" radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.316016 -0.0191164 0.0443873" rpy="-3.07178 -1.32645 3.01942"/>
      <geometry>
        <cylinder length="0.39" radius="0.025"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.463136 0.0246849 0.083738" rpy="3.14159 -0.279252 0.0349065"/>
      <geometry>
        <box size="0.107 0.065 0.077"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.453729 0.034 0.0138859" rpy="3.14159 -0.261799 2.4509e-18"/>
      <geometry>
        <cylinder length="0.052" radius="0.045"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-7.94612e-19 -7.28584e-20 -0.021" rpy="3.14159 3.78387e-17 1.52126e-18"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/right_leg.stl"/>
      </geometry>
      <material name="right_leg_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link fr_ankle -->
  <link name="fr_ankle">
    <inertial>
      <origin xyz="0.0737643 5.30265e-05 -0.176599" rpy="0 0 0"/>
      <mass value="1.07889"/>
      <inertia ixx="0.00951217" ixy="-2.46697e-06" ixz="0.00123376" iyy="0.0106409" iyz="-4.80027e-06" izz="0.00219861"/>
    </inertial>
    <!-- Part fr_ankle -->
    <collision>
      <origin xyz="0.116019 -2.19728e-16 -0.103049" rpy="-1.5708 0.00611017 -3.14159"/>
      <geometry>
        <box size="0.032 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0918946 -2.26801e-16 -0.163527" rpy="-1.5708 -0.796741 3.14159"/>
      <geometry>
        <box size="0.02 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0638009 -2.31248e-16 -0.19982" rpy="-1.5708 -0.0113434 -3.14159"/>
      <geometry>
        <box size="0.025 0.031 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0670818 -2.13933e-16 -0.0442979" rpy="-1.5708 0.808962 -3.14159"/>
      <geometry>
        <box size="0.012 0.076 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.107778 -2.16161e-16 -0.0698107" rpy="-1.5708 1.55945 -3.14159"/>
      <geometry>
        <box size="0.012 0.03 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.00045306 -2.11198e-16 -0.0107537" rpy="-1.11172e-16 0.00611017 -3.14159"/>
      <geometry>
        <cylinder length="0.026" radius="0.038"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0284953 -2.1154e-16 -0.0175825" rpy="-1.11172e-16 0.00611017 -3.14159"/>
      <geometry>
        <box size="0.03 0.06 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.124153 -2.22045e-16 -0.125" rpy="-1.5708 0.133516 -5.93793e-20"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/fr_ankle.stl"/>
      </geometry>
      <material name="fr_ankle_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
  </link>
  <!-- Link fr_wheel -->
  <link name="fr_wheel">
    <inertial>
      <origin xyz="-1.3295e-07 -1.12077e-07 1.26486e-05" rpy="0 0 0"/>
      <mass value="1.85014"/>
      <inertia ixx="0.0207017" ixy="2.91047e-05" ixz="1.08883e-08" iyy="0.0208617" iyz="1.43222e-08" izz="0.032714"/>
    </inertial>
    <!-- Part fr_wheel -->
    <collision>
      <origin xyz="0 -5.55112e-17 5.55112e-17" rpy="4.0126e-30 1.05893e-16 -7.57529e-20"/>
      <geometry>
        <cylinder length="0.16" radius="0.157"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -5.55112e-17 5.55112e-17" rpy="4.0126e-30 1.05893e-16 -7.57529e-20"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/fr_wheel.stl"/>
      </geometry>
      <material name="fr_wheel_material">
        <color rgba="0.254902 0.254902 0.254902 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from fr_ankle to fr_wheel -->
  <joint name="frw" type="continuous">
    <origin xyz="0.00144406 1.22125e-15 -0.241" rpy="8.10813e-15 1.5708 0"/>
    <parent link="fr_ankle"/>
    <child link="fr_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from right_leg to fr_ankle -->
  <joint name="frp" type="revolute">
    <origin xyz="-0.470138 0.0265286 0.0836181" rpy="1.54405 1.5708 0"/>
    <parent link="right_leg"/>
    <child link="fr_ankle"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Link br_ankle -->
  <link name="br_ankle">
    <inertial>
      <origin xyz="0.0737643 5.30265e-05 -0.176599" rpy="0 0 0"/>
      <mass value="1.07889"/>
      <inertia ixx="0.00951217" ixy="-2.46697e-06" ixz="0.00123376" iyy="0.0106409" iyz="-4.80027e-06" izz="0.00219861"/>
    </inertial>
    <!-- Part br_ankle -->
    <collision>
      <origin xyz="0.116019 -1.64247e-16 -0.103049" rpy="-1.5708 0.00611017 -3.14159"/>
      <geometry>
        <box size="0.032 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0918946 -1.71247e-16 -0.163527" rpy="-1.5708 -0.796741 3.14159"/>
      <geometry>
        <box size="0.02 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0638009 -1.75652e-16 -0.19982" rpy="-1.5708 -0.0113434 -3.14159"/>
      <geometry>
        <box size="0.025 0.031 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0670818 -1.58534e-16 -0.0442979" rpy="-1.5708 0.808962 -3.14159"/>
      <geometry>
        <box size="0.012 0.076 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.107778 -1.60722e-16 -0.0698107" rpy="-1.5708 1.55945 -3.14159"/>
      <geometry>
        <box size="0.012 0.03 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.00045306 -1.55854e-16 -0.0107537" rpy="-1.10861e-16 0.00611017 -3.14159"/>
      <geometry>
        <cylinder length="0.026" radius="0.038"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0284953 -1.56182e-16 -0.0175825" rpy="-1.10861e-16 0.00611017 -3.14159"/>
      <geometry>
        <box size="0.03 0.06 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.124153 -1.66533e-16 -0.125" rpy="-1.5708 0.133516 2.88237e-19"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/br_ankle.stl"/>
      </geometry>
      <material name="br_ankle_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
  </link>
  <!-- Link br_wheel -->
  <link name="br_wheel">
    <inertial>
      <origin xyz="-1.3295e-07 -1.12077e-07 1.26486e-05" rpy="0 0 0"/>
      <mass value="1.85014"/>
      <inertia ixx="0.0207017" ixy="2.91047e-05" ixz="1.08883e-08" iyy="0.0208617" iyz="1.43222e-08" izz="0.032714"/>
    </inertial>
    <!-- Part br_wheel -->
    <collision>
      <origin xyz="0 0 0" rpy="1.19289e-30 1.05893e-16 -2.78734e-19"/>
      <geometry>
        <cylinder length="0.16" radius="0.157"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="1.19289e-30 1.05893e-16 -2.78734e-19"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/br_wheel.stl"/>
      </geometry>
      <material name="br_wheel_material">
        <color rgba="0.254902 0.254902 0.254902 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from br_ankle to br_wheel -->
  <joint name="brw" type="continuous">
    <origin xyz="0.00144406 9.99201e-16 -0.241" rpy="9.22623e-15 1.5708 0"/>
    <parent link="br_ankle"/>
    <child link="br_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from right_leg to br_ankle -->
  <joint name="brp" type="revolute">
    <origin xyz="0.477577 0.0518865 0.0860377" rpy="1.54405 1.5708 0"/>
    <parent link="right_leg"/>
    <child link="br_ankle"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from chassis to right_leg -->
  <joint name="chassis_to_right_leg" type="continuous">
    <origin xyz="9.19469e-17 -0.32285 -3.99074e-16" rpy="-1.5708 -0.0312498 -3.14159"/>
    <parent link="chassis"/>
    <child link="right_leg"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link left_leg -->
  <link name="left_leg">
    <inertial>
      <origin xyz="0.00410395 -0.00381395 0.0322093" rpy="0 0 0"/>
      <mass value="3.36155"/>
      <inertia ixx="0.00988695" ixy="0.0139475" ixz="-0.000455168" iyy="0.507799" iyz="-0.000189076" izz="0.503932"/>
    </inertial>
    <!-- Part left_leg -->
    <collision>
      <origin xyz="-1.30788e-20 8.67362e-19 -0.021" rpy="-3.14159 6.228e-19 -4.12329e-18"/>
      <geometry>
        <cylinder length="0.058" radius="0.043"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.085374 0.0103589 -0.0136532" rpy="3.01942 -1.309 -4.12329e-18"/>
      <geometry>
        <cylinder length="0.09" radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.314569 0.036386 0.044033" rpy="3.01942 -1.32645 -4.12329e-18"/>
      <geometry>
        <cylinder length="0.39" radius="0.025"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.463387 0.00562858 0.0836002" rpy="-3.14159 -0.279252 3.10669"/>
      <geometry>
        <box size="0.106 0.065 0.077"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.453729 -0.008 0.0138859" rpy="3.14159 -0.261799 3.14159"/>
      <geometry>
        <cylinder length="0.052" radius="0.045"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.085786 0.0059293 -0.0135428" rpy="-3.07178 -1.309 3.14159"/>
      <geometry>
        <cylinder length="0.09" radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.31599 0.0195387 0.0443873" rpy="-3.07178 -1.32645 3.14159"/>
      <geometry>
        <cylinder length="0.39" radius="0.025"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.463867 -0.0196454 0.083738" rpy="3.14159 -0.279252 -0.0349065"/>
      <geometry>
        <box size="0.107 0.065 0.077"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.453729 -0.034 0.0138859" rpy="-3.14159 -0.261799 -4.12329e-18"/>
      <geometry>
        <cylinder length="0.052" radius="0.045"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-1.30788e-20 8.67362e-19 -0.021" rpy="-3.14159 6.228e-19 -4.12329e-18"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/left_leg.stl"/>
      </geometry>
      <material name="left_leg_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link fl_ankle -->
  <link name="fl_ankle">
    <inertial>
      <origin xyz="-0.0737643 -5.30265e-05 -0.176599" rpy="0 0 0"/>
      <mass value="1.07889"/>
      <inertia ixx="0.00951217" ixy="-2.46697e-06" ixz="-0.00123376" iyy="0.0106409" iyz="4.80027e-06" izz="0.00219861"/>
    </inertial>
    <!-- Part fl_ankle -->
    <collision>
      <origin xyz="-0.116019 2.75239e-16 -0.103049" rpy="-1.5708 0.00611017 1.56909e-17"/>
      <geometry>
        <box size="0.032 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0918946 2.82322e-16 -0.163527" rpy="-1.5708 -0.796741 -9.86664e-17"/>
      <geometry>
        <box size="0.02 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0638009 2.86776e-16 -0.19982" rpy="-1.5708 -0.0113434 1.37512e-17"/>
      <geometry>
        <box size="0.025 0.031 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0670818 2.69444e-16 -0.0442979" rpy="-1.5708 0.808962 1.31505e-16"/>
      <geometry>
        <box size="0.012 0.076 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.107778 2.71668e-16 -0.0698107" rpy="-1.5708 1.55945 9.81136e-15"/>
      <geometry>
        <box size="0.012 0.03 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.00045306 2.66717e-16 -0.0107537" rpy="1.11322e-16 0.00611017 1.56909e-17"/>
      <geometry>
        <cylinder length="0.026" radius="0.038"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0284953 2.67055e-16 -0.0175825" rpy="1.11322e-16 0.00611017 1.56909e-17"/>
      <geometry>
        <box size="0.03 0.06 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.124153 2.77556e-16 -0.125" rpy="-1.5708 -0.133516 8.56405e-20"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/fl_ankle.stl"/>
      </geometry>
      <material name="fl_ankle_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
  </link>
  <!-- Link fl_wheel -->
  <link name="fl_wheel">
    <inertial>
      <origin xyz="-1.3295e-07 -1.12077e-07 1.26486e-05" rpy="0 0 0"/>
      <mass value="1.85014"/>
      <inertia ixx="0.0207017" ixy="2.91047e-05" ixz="1.08883e-08" iyy="0.0208617" iyz="1.43222e-08" izz="0.032714"/>
    </inertial>
    <!-- Part fl_wheel -->
    <collision>
      <origin xyz="0 0 0" rpy="4.68442e-31 1.05893e-16 2.39108e-19"/>
      <geometry>
        <cylinder length="0.16" radius="0.157"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="4.68442e-31 1.05893e-16 2.39108e-19"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/fl_wheel.stl"/>
      </geometry>
      <material name="fl_wheel_material">
        <color rgba="0.254902 0.254902 0.254902 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from fl_ankle to fl_wheel -->
  <joint name="flw" type="continuous">
    <origin xyz="-0.00144406 -9.4369e-16 -0.241" rpy="3.14159 -1.5708 0"/>
    <parent link="fl_ankle"/>
    <child link="fl_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from left_leg to fl_ankle -->
  <joint name="flp" type="revolute">
    <origin xyz="-0.479646 -0.0256164 0.0862671" rpy="-1.59892 -1.5708 0"/>
    <parent link="left_leg"/>
    <child link="fl_ankle"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Link bl_ankle -->
  <link name="bl_ankle">
    <inertial>
      <origin xyz="-0.0737643 -5.30265e-05 -0.176599" rpy="0 0 0"/>
      <mass value="1.07889"/>
      <inertia ixx="0.00951217" ixy="-2.46697e-06" ixz="-0.00123376" iyy="0.0106409" iyz="4.80027e-06" izz="0.00219861"/>
    </inertial>
    <!-- Part bl_ankle -->
    <collision>
      <origin xyz="-0.116019 3.30752e-16 -0.103049" rpy="-1.5708 0.00611017 1.56666e-17"/>
      <geometry>
        <box size="0.032 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0918946 3.37828e-16 -0.163527" rpy="-1.5708 -0.796741 -9.85847e-17"/>
      <geometry>
        <box size="0.02 0.08 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0638009 3.42278e-16 -0.19982" rpy="-1.5708 -0.0113434 1.37287e-17"/>
      <geometry>
        <box size="0.025 0.031 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0670818 3.24962e-16 -0.0442979" rpy="-1.5708 0.808962 1.31373e-16"/>
      <geometry>
        <box size="0.012 0.076 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.107778 3.27185e-16 -0.0698107" rpy="-1.5708 1.55945 9.80226e-15"/>
      <geometry>
        <box size="0.012 0.03 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.00045306 3.22237e-16 -0.0107537" rpy="1.10831e-16 0.00611017 1.56666e-17"/>
      <geometry>
        <cylinder length="0.026" radius="0.038"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0284953 3.22575e-16 -0.0175825" rpy="1.10831e-16 0.00611017 1.56666e-17"/>
      <geometry>
        <box size="0.03 0.06 0.012"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.124153 3.33067e-16 -0.125" rpy="-1.5708 -0.133516 7.57836e-20"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/bl_ankle.stl"/>
      </geometry>
      <material name="bl_ankle_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
  </link>
  <!-- Link bl_wheel -->
  <link name="bl_wheel">
    <inertial>
      <origin xyz="-1.3295e-07 -1.12077e-07 1.26486e-05" rpy="0 0 0"/>
      <mass value="1.85014"/>
      <inertia ixx="0.0207017" ixy="2.91047e-05" ixz="1.08883e-08" iyy="0.0208617" iyz="1.43222e-08" izz="0.032714"/>
    </inertial>
    <!-- Part bl_wheel -->
    <collision>
      <origin xyz="0 5.55112e-17 5.55112e-17" rpy="-2.95198e-31 1.05893e-16 1.07418e-18"/>
      <geometry>
        <cylinder length="0.16" radius="0.157"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 5.55112e-17 5.55112e-17" rpy="-2.95198e-31 1.05893e-16 1.07418e-18"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/bl_wheel.stl"/>
      </geometry>
      <material name="bl_wheel_material">
        <color rgba="0.254902 0.254902 0.254902 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from bl_ankle to bl_wheel -->
  <joint name="blw" type="continuous">
    <origin xyz="-0.00144406 -1.11022e-15 -0.241" rpy="3.14159 -1.5708 0"/>
    <parent link="bl_ankle"/>
    <child link="bl_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from left_leg to bl_ankle -->
  <joint name="blp" type="revolute">
    <origin xyz="0.477504 -0.0525423 0.0860425" rpy="-1.59892 -1.5708 0"/>
    <parent link="left_leg"/>
    <child link="bl_ankle"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from chassis to left_leg -->
  <joint name="chassis_to_left_leg" type="continuous">
    <origin xyz="-5.99702e-17 0.32285 1.25976e-17" rpy="1.5708 -0.0326232 -3.14159"/>
    <parent link="chassis"/>
    <child link="left_leg"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link diffbar -->
  <link name="diffbar">
    <inertial>
      <origin xyz="9.8281e-12 -0.0304608 -0.01" rpy="0 0 0"/>
      <mass value="0.416044"/>
      <inertia ixx="0.00024272" ixy="6.57553e-09" ixz="-6.77512e-09" iyy="0.0194084" iyz="1.09185e-07" izz="0.0196249"/>
    </inertial>
    <!-- Part diffbar -->
    <collision>
      <origin xyz="-0.196962 -0.0348839 -0.01" rpy="1.5708 -6.03021e-17 -1.39626"/>
      <geometry>
        <cylinder length="0.41" radius="0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.196962 -0.0348839 -0.01" rpy="1.5708 6.03021e-17 1.39626"/>
      <geometry>
        <cylinder length="0.41" radius="0.01"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="4.97706e-14 -0.000154266 -0.01" rpy="1.5708 -3.05129e-34 0"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/diffbar.stl"/>
      </geometry>
      <material name="diffbar_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
  </link>
  <!-- Link tl_ball_link_x -->
  <link name="tl_ball_link_x">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link tl_ball_link_y -->
  <link name="tl_ball_link_y">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link left_difflink -->
  <link name="left_difflink">
    <inertial>
      <origin xyz="-1.87987e-15 -0.05775 1.15285e-15" rpy="0 0 0"/>
      <mass value="0.0381782"/>
      <inertia ixx="7.14741e-05" ixy="-4.31101e-18" ixz="-7.54296e-08" iyy="1.41853e-06" iyz="-2.5033e-19" izz="7.22147e-05"/>
    </inertial>
    <!-- Part left_difflink -->
    <visual>
      <origin xyz="-2.77556e-15 -0.05775 3.33067e-16" rpy="1.5708 -1.51279 -3.14159"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/left_difflink.stl"/>
      </geometry>
      <material name="left_difflink_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link bl_ball_link_x -->
  <link name="bl_ball_link_x">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link bl_ball_link_y -->
  <link name="bl_ball_link_y">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link left_diffend_dummy -->
  <link name="left_diffend_dummy">
    <inertial>
      <origin xyz="1.25006e-16 -2.38852e-16 -0.00825898" rpy="0 0 0"/>
      <mass value="0.0171895"/>
      <inertia ixx="2.73004e-06" ixy="-2.16695e-22" ixz="1.04609e-23" iyy="2.73004e-06" iyz="1.31552e-24" izz="4.11638e-07"/>
    </inertial>
    <!-- Part left_diffend_dummy -->
    <visual>
      <origin xyz="1.11022e-16 -2.498e-16 -0.006" rpy="5.5865e-18 -6.74007e-19 -1.01669e-17"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/left_diffend_dummy.stl"/>
      </geometry>
      <material name="left_diffend_dummy_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from bl_ball_link_y to left_diffend_dummy -->
  <joint name="bl_ball_z" type="revolute">
    <origin xyz="0 -2.77556e-17 0" rpy="5.5865e-18 -6.74007e-19 -1.01669e-17"/>
    <parent link="bl_ball_link_y"/>
    <child link="left_diffend_dummy"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from bl_ball_link_x to bl_ball_link_y -->
  <joint name="bl_ball_y" type="revolute">
    <origin xyz="0 -2.77556e-17 0" rpy="5.5865e-18 -6.74007e-19 -1.01669e-17"/>
    <parent link="bl_ball_link_x"/>
    <child link="bl_ball_link_y"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from left_difflink to bl_ball_link_x -->
  <joint name="bl_ball_x" type="revolute">
    <origin xyz="-2.72005e-15 -0.1155 3.60822e-15" rpy="-3.14159 0.200937 3.14159"/>
    <parent link="left_difflink"/>
    <child link="bl_ball_link_x"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from tl_ball_link_y to left_difflink -->
  <joint name="tl_ball_z" type="revolute">
    <origin xyz="1.11022e-16 -4.16334e-17 0" rpy="-6.32965e-18 -1.95747e-18 -6.20846e-17"/>
    <parent link="tl_ball_link_y"/>
    <child link="left_difflink"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from tl_ball_link_x to tl_ball_link_y -->
  <joint name="tl_ball_y" type="revolute">
    <origin xyz="1.11022e-16 -4.16334e-17 0" rpy="-6.32965e-18 -1.95747e-18 -6.20846e-17"/>
    <parent link="tl_ball_link_x"/>
    <child link="tl_ball_link_y"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from diffbar to tl_ball_link_x -->
  <joint name="tl_ball_x" type="revolute">
    <origin xyz="0.383323 -0.0675902 -0.01" rpy="-1.28818 -1.06746 -1.778"/>
    <parent link="diffbar"/>
    <child link="tl_ball_link_x"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link tr_ball_link_x -->
  <link name="tr_ball_link_x">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link tr_ball_link_y -->
  <link name="tr_ball_link_y">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link right_difflink -->
  <link name="right_difflink">
    <inertial>
      <origin xyz="6.53937e-15 -0.05775 -2.77644e-15" rpy="0 0 0"/>
      <mass value="0.0381782"/>
      <inertia ixx="7.15254e-05" ixy="4.76912e-18" ixz="1.45875e-07" iyy="1.41853e-06" iyz="-2.69849e-19" izz="7.21634e-05"/>
    </inertial>
    <!-- Part right_difflink -->
    <visual>
      <origin xyz="6.21725e-15 -0.05775 -2.44249e-15" rpy="1.5708 1.51279 3.14159"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/right_difflink.stl"/>
      </geometry>
      <material name="right_difflink_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
  </link>
  <!-- Link br_ball_link_x -->
  <link name="br_ball_link_x">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link br_ball_link_y -->
  <link name="br_ball_link_y">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <!-- Link right_diffend_dummy -->
  <link name="right_diffend_dummy">
    <inertial>
      <origin xyz="2.3618e-16 -1.83398e-16 -0.00825898" rpy="0 0 0"/>
      <mass value="0.0171895"/>
      <inertia ixx="2.73004e-06" ixy="1.98535e-22" ixz="-7.28769e-23" iyy="2.73004e-06" iyz="9.53952e-23" izz="4.11638e-07"/>
    </inertial>
    <!-- Part right_diffend_dummy -->
    <visual>
      <origin xyz="2.22045e-16 -1.94289e-16 -0.006" rpy="3.62606e-17 1.97607e-17 1.39034e-17"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/banksia/meshes/right_diffend_dummy.stl"/>
      </geometry>
      <material name="right_diffend_dummy_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
  </link>
  <!-- Joint from br_ball_link_y to right_diffend_dummy -->
  <joint name="br_ball_z" type="revolute">
    <origin xyz="0 2.77556e-17 5.55112e-17" rpy="3.62606e-17 1.97607e-17 1.39034e-17"/>
    <parent link="br_ball_link_y"/>
    <child link="right_diffend_dummy"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from br_ball_link_x to br_ball_link_y -->
  <joint name="br_ball_y" type="revolute">
    <origin xyz="0 2.77556e-17 5.55112e-17" rpy="3.62606e-17 1.97607e-17 1.39034e-17"/>
    <parent link="br_ball_link_x"/>
    <child link="br_ball_link_y"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from right_difflink to br_ball_link_x -->
  <joint name="br_ball_x" type="revolute">
    <origin xyz="1.36557e-14 -0.1155 -5.9952e-15" rpy="-3.67723e-15 -0.428928 -3.14159"/>
    <parent link="right_difflink"/>
    <child link="br_ball_link_x"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from tr_ball_link_y to right_difflink -->
  <joint name="tr_ball_z" type="revolute">
    <origin xyz="-5.55112e-17 -4.16334e-17 0" rpy="-1.04531e-17 5.26196e-18 -1.46601e-18"/>
    <parent link="tr_ball_link_y"/>
    <child link="right_difflink"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from tr_ball_link_x to tr_ball_link_y -->
  <joint name="tr_ball_y" type="revolute">
    <origin xyz="-5.55112e-17 -4.16334e-17 0" rpy="-1.04531e-17 5.26196e-18 -1.46601e-18"/>
    <parent link="tr_ball_link_x"/>
    <child link="tr_ball_link_y"/>
    <axis xyz="0 1 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from diffbar to tr_ball_link_x -->
  <joint name="tr_ball_x" type="revolute">
    <origin xyz="-0.383323 -0.0675902 -0.01" rpy="-1.99208 -1.0384 -1.20409"/>
    <parent link="diffbar"/>
    <child link="tr_ball_link_x"/>
    <axis xyz="1 0 0"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from chassis to diffbar -->
  <joint name="chassis_to_diffbar" type="continuous">
    <origin xyz="-0.476 -4.81445e-09 0.0465054" rpy="-1.5708 -2.10084e-09 1.5708"/>
    <parent link="chassis"/>
    <child link="diffbar"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="2.10084e-09" upper="2.10084e-09"/>
  </joint>
</robot>
