<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="TopicBasedSystem" type="system">

    <hardware>
      <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
      <param name="joint_commands_topic">/topic_based_joint_commands</param>
      <param name="joint_states_topic">/topic_based_joint_states</param>
      <param name="sum_wrapped_joint_states">true</param>
      <param name="trigger_joint_command_threshold">-1</param>
    </hardware>

    <joint name='flw'>
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <command_interface name="position"></command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name='blw'>
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <command_interface name="position"></command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name='frw'>
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <command_interface name="position"></command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name='brw'>
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <command_interface name="position"></command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="flp">
      <command_interface name="position">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="blp">
      <command_interface name="position">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="frp">
      <command_interface name="position">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="brp">
      <command_interface name="position">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-${pi}</param>
        <param name="max">${pi}</param>
      </command_interface>

      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

  </ros2_control>


</robot>
