<?xml version="1.0" encoding="utf-8" ?>
<wrapper xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://kayak.2codeornot2code.org/1.0" xsi:noNamespaceSchemaLocation="schemas/kcd-macro.xsd">
    <xacro:macro name="blcmd_messages" params="
    blcmd_id
    joint_name
    blcmd_node_id:=${None}
    orin_node_id:=0
    ">
        <!-- variables -->
        <xacro:property name="blcmd_node_id" value="${blcmd_id if blcmd_node_id is None else blcmd_node_id}" lazy_eval="false"/>

        <!-- messages sent from orin to blcmd -->

        <!-- macros for repetitive consumer/producer tags -->
        <xacro:macro name="consumer_blcmd">
            <Consumer>
                <NodeRef id="${blcmd_node_id}"/>
            </Consumer>
        </xacro:macro>
        <xacro:macro name="producer_orin">
            <Producer>
                <NodeRef id="${orin_node_id}"/>
            </Producer>
        </xacro:macro>
        <Message id="0x0${blcmd_id}0" name="${joint_name}_all_stop">
            <xacro:producer_orin/>
            <Signal name="all_stop_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>
        <Message id="0x0${blcmd_id}1" name="${joint_name}_twitch_forward">
            <xacro:producer_orin/>
            <Signal name="twitch_forward_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>
        <Message id="0x0${blcmd_id}2" name="${joint_name}_twitch_backward">
            <xacro:producer_orin/>
            <Signal name="twitch_backward_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}3" name="${joint_name}_drive_at_speed">
            <xacro:producer_orin/>
            <Signal name="velocity_requested" offset="0" length="16" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}4" name="${joint_name}_drive_to_position">
            <xacro:producer_orin/>
            <Signal name="position_requested" offset="0" length="16" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}5" name="${joint_name}_drive_at_current">
            <xacro:producer_orin/>
            <Signal name="effort_requested" offset="0" length="16" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}6" name="${joint_name}_drive_open_loop">
            <xacro:producer_orin/>

            <!-- not implemented in blcmd firmware, so only raw values provided -->
            <Signal name="open_loop_current_requested" offset="0" length="16" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
            </Signal>
            <Signal name="open_loop_velocity_requested" offset="16" length="16" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}7" name="${joint_name}_home_rotor">
            <xacro:producer_orin/>
            <Signal name="home_rotor_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}8" name="${joint_name}_zero_resolver">
            <xacro:producer_orin/>
            <Signal name="zero_resolver_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <!-- labels for configuration signal/multiplex (i.e. associates configuration id with name) -->
        <xacro:macro name="configuration_labels">
            <LabelSet>
                <Label name="has_resolver" value="0"/>
                <Label name="current_kp" value="1"/>
                <Label name="current_ki" value="2"/>
                <Label name="max_current_threshold" value="3"/>
                <Label name="velocity_kp" value="4"/>
                <Label name="velocity_ki" value="5"/>
                <Label name="max_velocity_threshold" value="6"/>
                <Label name="min_interval" value="7"/>
                <Label name="position_kp" value="8"/>
                <Label name="position_ki" value="9"/>
                <Label name="max_position_threshold" value="10"/>
                <Label name="telemetry_packet_1_speed" value="11"/>
                <Label name="telemetry_packet_2_speed" value="12"/>
                <Label name="telemetry_packet_3_speed" value="13"/>
                <Label name="telemetry_packet_4_speed" value="14"/>
            </LabelSet>
        </xacro:macro>

        <Message id="0x0${blcmd_id}9" name="${joint_name}_get_configuration">
            <xacro:producer_orin/>
            <Signal name="configuration" offset="0" length="8" endianess="big">
                <xacro:consumer_blcmd/>
                <Value type="signed"/>
                <xacro:configuration_labels/>
            </Signal>
        </Message>

        <!-- message macro for both set_configuration (from orin to blcmd)
        and current_configuration (from blcmd to orin) -->
        <xacro:macro name="configuration_messages" params="id name *producer_block *consumer_block">
            <Message id="${id}" name="${name}">
                <xacro:insert_block name="producer_block"/>

                <!-- set configuration is "multiplexed" (so value of first byte determines what remaining bytes mean) -->
                <Multiplex name="configuration" offset="0" length="8" endianess="big">
                    <xacro:insert_block name="consumer_block"/>
                    <xacro:configuration_labels/>

                    <!-- signals for has_resolver -->
                    <MuxGroup count="0">
                        <Signal name="value" offset="8" length="8" endianess="big">
                            <LabelSet>
                                <Label name="false" value="0"/>
                                <Label name="true" value="1"/>
                            </LabelSet>
                        </Signal>
                    </MuxGroup>

                    <!-- signals for current_kp and current_ki -->
                    <MuxGroup count="1">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="2">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for max_current_threshold -->
                    <MuxGroup count="3">
                        <Signal name="max_current" offset="8" length="16" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for velocity_kp and velocity_ki -->
                    <MuxGroup count="4">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="5">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for max_velocity_threshold -->
                    <MuxGroup count="6">
                        <Signal name="max_velocity" offset="8" length="16" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for min_interval -->
                    <MuxGroup count="7">
                        <!-- WARNING: in blcmd firmware, this value appears not to be used -->
                        <Signal name="min_interval" offset="8" length="16" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for position_kp and position_ki-->
                    <MuxGroup count="8">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="9">
                        <Signal name="fractional" offset="8" length="16" endianess="big"/>
                        <Signal name="shift_amount" offset="24" length="8" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for max_position_threshold -->
                    <MuxGroup count="10">
                        <Signal name="max_position" offset="8" length="16" endianess="big"/>
                    </MuxGroup>

                    <!-- signals for telemetry_packet_1_speed, telemetry_packet_2_speed
                    telemetry_packet_3_speed and telemetry_packet_4_speed -->
                    <MuxGroup count="11">
                        <Signal name="speed" offset="8" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="12">
                        <Signal name="speed" offset="8" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="13">
                        <Signal name="speed" offset="8" length="8" endianess="big"/>
                    </MuxGroup>
                    <MuxGroup count="14">
                        <Signal name="speed" offset="8" length="8" endianess="big"/>
                    </MuxGroup>
                </Multiplex>
            </Message>
        </xacro:macro>

        <xacro:configuration_messages id="0x0${blcmd_id}A" name="${joint_name}_set_configuration">
            <xacro:producer_orin/>
            <xacro:consumer_blcmd/>
        </xacro:configuration_messages>

        <Message id="0x0${blcmd_id}B" name="${joint_name}_reset_blcmd">
            <xacro:producer_orin/>
            <Signal name="reset_blcmd_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}C" name="${joint_name}_reset_resolver">
            <xacro:producer_orin/>
            <Signal name="reset_resolver_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <Message id="0x0${blcmd_id}D" name="${joint_name}_read_gate_driver_fault">
            <xacro:producer_orin/>
            <Signal name="read_gate_driver_fault_requested" offset="0">
                <xacro:consumer_blcmd/>
            </Signal>
        </Message>

        <!-- messages sent from blcmd to orin -->

        <!-- macros for repetitive consumer/producer tags -->
        <xacro:macro name="consumer_orin">
            <Consumer>
                <NodeRef id="${orin_node_id}"/>
            </Consumer>
        </xacro:macro>
        <xacro:macro name="producer_blcmd">
            <Producer>
                <NodeRef id="${blcmd_node_id}"/>
            </Producer>
        </xacro:macro>

        <Message id="0x4${blcmd_id}1" name="${joint_name}_telemetry_packet_1">
            <xacro:producer_blcmd/>
            <Signal name="velocity" offset="0" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="q_current" offset="16" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x4${blcmd_id}2" name="${joint_name}_telemetry_packet_2">
            <xacro:producer_blcmd/>
            <Signal name="interval" offset="0" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="d_current" offset="16" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x4${blcmd_id}3" name="${joint_name}_telemetry_packet_3">
            <xacro:producer_blcmd/>
            <Signal name="resolver_position" offset="0" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="resolver_velocity" offset="16" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x4${blcmd_id}4" name="${joint_name}_telemetry_packet_4">
            <xacro:producer_blcmd/>
            <Signal name="power" offset="0" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="voltage" offset="16" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="temperature" offset="32" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
            <Signal name="current" offset="48" length="16" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
            </Signal>
        </Message>

        <Message id="0x4${blcmd_id}0" name="${joint_name}_log">
            <xacro:producer_blcmd/>
            <Multiplex name="log_message" offset="0" length="8" endianess="big">
                <xacro:consumer_orin/>
                <Value type="signed"/>
                
                <LabelSet>
                    <Label name="error" value="0" type="error"/>
                    <Label name="warning" value="1" type="error"/>
                    <Label name="info" value="2"/>
                    <Label name="gate_driver_condition" value="3" type="error"/>
                </LabelSet>
                
                <MuxGroup count="0">
                    <Signal name="error_message" offset="8" length="8" endianess="big">
                        <Value type="signed"/>
                        <LabelSet>
                            <Label name="no_steps" value="0"/>
                            <Label name="magnetic_encoder_error" value="1"/>
                            <Label name="resolver_error" value="2"/>
                            <Label name="resolver_failed_checksum" value="3"/>
                            <Label name="unexpected_position_command" value="4"/>
                            <Label name="gate_driver_fault" value="5"/>
                            <Label name="gate_driver_spi_failed" value="6"/>
                            <Label name="ma302_spi_failed" value="7"/>
                            <Label name="rotor_home_failed" value="8"/>
                            <Label name="resolver_zero_failure" value="9"/>
                            <Label name="stall_triggered" value="10"/>
                            <Label name="over_speed" value="11"/>
                        </LabelSet>
                    </Signal>
                </MuxGroup>

                <MuxGroup count="1">
                    <Signal name="warning_message" offset="8" length="8" endianess="big">
                        <Value type="signed"/>
                        <LabelSet>
                            <Label name="missing_steps" value="0"/>
                            <Label name="duty_cycle_threshold" value="1"/>
                            <Label name="current_threshold" value="2"/>
                            <Label name="velocity_threshold" value="3"/>
                            <Label name="position_out_of_range" value="4"/>
                        </LabelSet>
                    </Signal>
                </MuxGroup>

                <MuxGroup count="2">
                    <Signal name="info_message" offset="8" length="8" endianess="big">
                        <Value type="signed"/>
                        <LabelSet>
                            <Label name="gate_driver_config_success" value="0"/>
                            <Label name="ma302_config_success" value="1"/>
                            <Label name="gate_driver_fault_recovered" value="2"/>
                            <Label name="rotor_home_success" value="3"/>
                            <Label name="resolver_zero_success" value="4"/>
                        </LabelSet>
                    </Signal>
                </MuxGroup>

                <MuxGroup count="3">
                    <Signal name="gate_driver_condition" offset="8" length="8" endianess="big">
                        <LabelSet>
                            <Label name="log_sequence_complete" value="255"/>
                        </LabelSet>
                    </Signal>
                </MuxGroup>
            </Multiplex>
        </Message>

        <xacro:configuration_messages id="0x4${blcmd_id}9" name="${joint_name}_current_configuration">
            <xacro:producer_blcmd/>
            <xacro:consumer_orin/>
        </xacro:configuration_messages>

    </xacro:macro>
</wrapper>

