<?xml version="1.0" encoding="utf-8" ?>
<NetworkDefinition xmlns="http://kayak.2codeornot2code.org/1.0" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- included macros -->
	<xacro:include filename="blcmd.kcd.xacro"/>

	<Document name="Banksia Drive" version="0.0.1" author="Jonathan Jia" date="2026-03-06">
		CAN Description file for Banksia's drive system
	</Document>

	<Node id="0" name="orin"/>
	<Node id="1" name="front_left_wheel"/>
	<Node id="2" name="back_left_wheel"/>
	<Node id="3" name="back_right_wheel"/>
	<Node id="4" name="front_right_wheel"/>
	<Node id="5" name="front_left_pivot"/>
	<Node id="6" name="back_left_pivot"/>
	<Node id="7" name="back_right_pivot"/>
	<Node id="8" name="front_right_pivot"/>

	<!-- shared parameters -->
	<xacro:property name="wheel_max_velocity" value="41.912"/>
	<xacro:property name="pivot_max_velocity" value="9.1439"/>

	<!-- calculate position_multiplier and position_offset for pivots
	using parameters copied directly from ros2_control.xacro
	and reversing the calculation used in blcmd_hardware2.cpp -->
	<xacro:property name="resolver_reduction" value="1.33333333333"/>
	<xacro:property name="res_ticks_per_rev" value="98304"/>
	<xacro:property name="zero_offset" value="14717"/>

	<xacro:property name="pivot_position_multiplier" value="${ (2 * pi) / (resolver_reduction * res_ticks_per_rev) }"/>
	<xacro:property name="pivot_position_offset" value="${ -1 * zero_offset * pivot_position_multiplier }"/>


	<Bus name="can0" baudrate="250000">

		<xacro:blcmd_messages blcmd_id="1" joint_name="flw"/>
		<xacro:blcmd_messages blcmd_id="2" joint_name="blw"/>
		<xacro:blcmd_messages blcmd_id="3" joint_name="brw"/>
		<xacro:blcmd_messages blcmd_id="4" joint_name="frw"/>
		<xacro:blcmd_messages blcmd_id="5" joint_name="flp"/>
		<xacro:blcmd_messages blcmd_id="6" joint_name="blp"/>
		<xacro:blcmd_messages blcmd_id="7" joint_name="brp"/>
		<xacro:blcmd_messages blcmd_id="8" joint_name="frp"/>

	</Bus>
</NetworkDefinition>
