<!-- 

-->

<NetworkDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://kayak.2codeornot2code.org/1.0" xsi:noNamespaceSchemaLocation="kcd-schema.xsd" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<Document name="Banksia" version="0.0.0" author="Jonathan Jia" date="2026-02-08">
		WIP: CAN Database file for MNR rover Banksia
		(currently only partially supports drive)
	</Document>

	<xacro:include filename="blcmd.kcd.xacro"/>

	<Node id="0" name="Orin"/>
	<Node id="1" name="Front Left Wheel"/>
	<Node id="2" name="Back Left Wheel"/>
	<Node id="3" name="Back Right Wheel"/>
	<Node id="4" name="Front Right Wheel"/>
	<Node id="5" name="Front Left Pivot"/>
	<Node id="6" name="Back Left Pivot"/>
	<Node id="7" name="Back Right Pivot"/>
	<Node id="8" name="Front Right Pivot"/>
	<Bus name="can0" baudrate="250000">

		<xacro:property name="limit_16_bit_signed_integer" value="${2**15 - 1}"/>

		<!-- TODO: test can messages without data frame-->
		
		<Message id="0x0${blcmd_id}0" name="${joint_name}_all_stop">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="all_stop_requested" offset="0">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
			</Signal>
		</Message>
		<Message id="0x0${blcmd_id}1" name="${joint_name}_twitch_forward">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="twitch_forward_requested" offset="0">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
			</Signal>
		</Message>
		<Message id="0x0${blcmd_id}2" name="${joint_name}_twitch_backward">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="twitch_backward_requested" offset="0">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}3" name="${joint_name}_drive_at_speed">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="velocity_requested" offset="0" length="16" endianess="big">
				<Notes>Target velocity (radians per second)</Notes>
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed" unit="rad/s" slope="${max_velocity / limit_16_bit_signed_integer}"/>
			</Signal>
			<Signal name="velocity_requested_raw" offset="0" length="16" endianess="big">
				<Notes>Target velocity (signed value sent on CAN bus)</Notes>
				<Value type="signed"/>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}4" name="${joint_name}_drive_to_position">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="position_requested" offset="0" length="16" endianess="big">
				<Notes>Target position (radians from zero)</Notes>
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed" unit="rad" slope="${position_multiplier}" intercept="${position_offset}"/>
			</Signal>
			<Signal name="position_requested_raw" offset="0" length="16" endianess="big">
				<Notes>Target position (signed value sent on CAN bus)</Notes>
				<Value type="signed"/>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}5" name="${joint_name}_drive_at_current">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="effort_requested" offset="0" length="16" endianess="big">
				<Notes>Target effort (proportion of max effort)</Notes>
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed" unit="1" slope="${1 / limit_16_bit_signed_integer}"/>
			</Signal>
			<Signal name="effort_requested_raw" offset="0" length="16" endianess="big">
				<Notes>Target effort (signed value sent on CAN bus)</Notes>
				<Value type="signed"/>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}6" name="${joint_name}_drive_open_loop">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>

			<!-- not implemented in blcmd firmware, so only raw values provided -->
			<Signal name="open_loop_current_requested_raw" offset="0" length="16" endianess="big">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed"/>
			</Signal>
			<Signal name="open_loop_velocity_requested_raw" offset="16" length="16" endianess="big">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed"/>
			</Signal>
		</Message>
		
		<Message id="0x0${blcmd_id}7" name="${joint_name}_home_rotor">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="home_rotor_requested" offset="0">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}8" name="${joint_name}_set_resolver_zero_flag">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="set_resolver_zero_flag_requested" offset="0">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
			</Signal>
		</Message>

		<Message id="0x0${blcmd_id}9" name="${joint_name}_get_configuration">
			<Producer>
				<NodeRef id="${orin_node_id}"/>
			</Producer>
			<Signal name="configuration_requested" offset="0" length="8" endianess="big">
				<Consumer>
					<NodeRef id="${blcmd_node_id}"/>
				</Consumer>
				<Value type="signed"/>
				<LabelSet>
					<Label name="has_resolver" value="0"/>
					<Label name="current_kp" value="1"/>
					<Label name="current_ki" value="2"/>
					<Label name="max_current_threshold" value="3"/>
					<Label name="velocity_kp" value="4"/>
					<Label name="velocity_ki" value="5"/>
					<Label name="max_velocity_threshold" value="6"/>
					<Label name="min_interval" value="7"/>
					<Label name="position_kp" value="8"/>
					<Label name="position_ki" value="9"/>
					<Label name="max_position_threshold" value="10"/>
					<Label name="telemetry_packet_1_speed" value="11"/>
					<Label name="telemetry_packet_2_speed" value="12"/>
					<Label name="telemetry_packet_3_speed" value="13"/>
					<Label name="telemetry_packet_4_speed" value="14"/>
				</LabelSet>
			</Signal>
		</Message>

		<!-- TODO: REST -->

	</Bus>
</NetworkDefinition>
