<?xml version="1.0" encoding="utf-8" ?>
<NetworkDefinition xmlns="http://kayak.2codeornot2code.org/1.0" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- included macros -->
	<xacro:include filename="../misc/nodes.kcd.xacro"/>
	<xacro:include filename="../systems/taipan_interpreted.kcd.xacro"/>

	<Document name="Banksia (can1 with Taipan)" version="1.0.0" author="Jonathan Jia" date="2026-04-18">
		CAN database file for Banksia's can1 CAN bus with Taipan (new arm) attached on that bus.

		(All values/signals are transformed into SI units where there exists some known linear transformation;
		however, some values/signals will not be if that transformation is unknown)
	</Document>

	<xacro:nodes/>

	<Bus name="can1" baudrate="250000">
		<xacro:taipan_interpreted_system/>
	</Bus>
</NetworkDefinition>
