<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_PART_ASSEMBLY">
  <link
    name="ArmBase">
    <inertial>
      <origin
        xyz="0.0463984559338307 -0.000244629347594962 0.105803300473719"
        rpy="0 0 0" />
      <mass
        value="0.964885521729071" />
      <inertia
        ixx="0.00586330404665839"
        ixy="4.42994692639774E-08"
        ixz="-0.00089996061315548"
        iyy="0.00737801555838317"
        iyz="3.46523353363795E-08"
        izz="0.0112664844620711" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/ArmBase.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/ArmBase.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="BaseToJ1">
    <inertial>
      <origin
        xyz="-0.00115949735646111 0.0892985869596572 -0.000828732075412772"
        rpy="0 0 0" />
      <mass
        value="1.06782865454781" />
      <inertia
        ixx="0.00136349514209711"
        ixy="-0.000120523153646633"
        ixz="-4.27584675271316E-07"
        iyy="0.00110158912271039"
        iyz="8.73000906376952E-07"
        izz="0.00106684454111778" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/BaseToJ1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/BaseToJ1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0 0 0.1795"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="ArmBase" />
    <child
      link="BaseToJ1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J2ToLink1">
    <inertial>
      <origin
        xyz="0.302150544196856 -0.00272064453324986 0.0215545407301324"
        rpy="0 0 0" />
      <mass
        value="0.692670468382813" />
      <inertia
        ixx="0.000749127415490433"
        ixy="3.9226287616403E-05"
        ixz="1.68457558241152E-07"
        iyy="0.00521089609335111"
        iyz="-1.840147885579E-06"
        izz="0.00581175230962762" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J2ToLink1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J2ToLink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.0933 0.0723 -0.00028711"
      rpy="1.5708 0 1.5708" />
    <parent
      link="BaseToJ1" />
    <child
      link="J2ToLink1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.75"
      upper="1.55"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J3ToLink2">
    <inertial>
      <origin
        xyz="0.129966189328165 0.0732399519417659 -0.0854948314562504"
        rpy="0 0 0" />
      <mass
        value="1.1537312044344" />
      <inertia
        ixx="0.00112066300003786"
        ixy="7.23793330716904E-05"
        ixz="-1.74454352298505E-05"
        iyy="0.00375619318284082"
        iyz="0.00018874261573622"
        izz="0.00391910919823574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J3ToLink2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J3ToLink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="0.48498 -0.0042617 -1.3115E-05"
      rpy="0 0 0" />
    <parent
      link="J2ToLink1" />
    <child
      link="J3ToLink2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.85"
      upper="2.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2toFixedJ4">
    <inertial>
      <origin
        xyz="-0.000854379754759105 -0.00771635785912597 -0.0386037875911855"
        rpy="0 0 0" />
      <mass
        value="0.154860932901363" />
      <inertia
        ixx="0.000107515397522057"
        ixy="-1.35212786806063E-07"
        ixz="2.57896496508744E-08"
        iyy="9.97191040148142E-05"
        iyz="1.40048478553512E-06"
        izz="0.000103535419768887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/Link2toFixedJ4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/Link2toFixedJ4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4_Fixed"
    type="fixed">
    <origin
      xyz="0.46967 0.038251 0.032284"
      rpy="0 0 0" />
    <parent
      link="J3ToLink2" />
    <child
      link="Link2toFixedJ4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="J4ToJ5">
    <inertial>
      <origin
        xyz="-0.000364137980536139 0.0341611309238566 0.0243774183852719"
        rpy="0 0 0" />
      <mass
        value="0.198378721031921" />
      <inertia
        ixx="0.000132808935473041"
        ixy="-1.6412565053747E-07"
        ixz="-8.70461792617816E-08"
        iyy="0.000109691860796545"
        iyz="-1.48854544793139E-06"
        izz="0.0001341658859767" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J4ToJ5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J4ToJ5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Link2toFixedJ4" />
    <child
      link="J4ToJ5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.85"
      upper="0.75"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J5ToJ6">
    <inertial>
      <origin
        xyz="0.000187662498820879 -0.0176175749877335 0.0215384550975011"
        rpy="0 0 0" />
      <mass
        value="0.171055632724638" />
      <inertia
        ixx="0.000112193318899533"
        ixy="-2.61131401507365E-07"
        ixz="-5.05759999511541E-09"
        iyy="0.000121789710790359"
        iyz="-1.61568500189792E-07"
        izz="9.87854347259817E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J5ToJ6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J5ToJ6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5"
    type="revolute">
    <origin
      xyz="8.5143E-05 0.081342 0.02135"
      rpy="0 -1.5708 0" />
    <parent
      link="J4ToJ5" />
    <child
      link="J5ToJ6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.88"
      upper="2.45"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J6ToEE">
    <inertial>
      <origin
        xyz="0.0313403405257765 -0.0154054918446249 0.0972054188783789"
        rpy="0 0 0" />
      <mass
        value="0.55463240302887" />
      <inertia
        ixx="0.000376073601133984"
        ixy="-1.35551673721987E-05"
        ixz="-9.98929456115085E-07"
        iyy="0.000644904140085136"
        iyz="1.10813236344385E-05"
        izz="0.000454272721609693" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J6ToEE.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_ASSEMBLY/meshes/J6ToEE.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6"
    type="revolute">
    <origin
      xyz="0.00018845 -0.020463 0.081623"
      rpy="0 0 0" />
    <parent
      link="J5ToJ6" />
    <child
      link="J6ToEE" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>