<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_PART_FILES">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.124895291114619 0.105803300474521 0.151689368311352"
        rpy="0 0 0" />
      <mass
        value="0.964885521720054" />
      <inertia
        ixx="0.00737801555834588"
        ixy="3.46523316685227E-08"
        ixz="4.42994703749863E-08"
        iyy="0.0112664844620674"
        iyz="-0.000899960613165917"
        izz="0.00586330404662385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.114459650115267 0.000894475466029554 4.63193089098174E-05"
        rpy="0 0 0" />
      <mass
        value="1.06782992821244" />
      <inertia
        ixx="0.00110450364652873"
        ixy="-1.13558642402736E-06"
        ixz="0.000123600017443695"
        iyy="0.0010668360523279"
        iyz="-7.98361132115831E-07"
        izz="0.00136059075592228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0.1249 -0.106 0.15434"
      rpy="2.6199 -1.5571 0.6857" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0.99991 0.0068196 -0.011865" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0727312955042903 -0.261084601636969 -0.152093536327788"
        rpy="0 0 0" />
      <mass
        value="0.692669362097279" />
      <inertia
        ixx="0.00581162431890537"
        ixy="3.66152054222498E-06"
        ixz="-7.38995480405447E-06"
        iyy="0.00189230548123107"
        iyz="-0.00194817270298663"
        izz="0.00406780326105112" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.096952 0.00025571 -0.043073"
      rpy="1.3139 -1.5629 -1.7961" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0.99991 0.0068196 -0.011865" />
    <limit
      lower="-1.75"
      upper="1.55"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0366028999656508 -0.0895330260674386 0.118561290612098"
        rpy="0 0 0" />
      <mass
        value="1.15373119624722" />
      <inertia
        ixx="0.00391492060968911"
        ixy="-6.46459234827351E-05"
        ixz="-0.00017879907270972"
        iyy="0.00149074655925531"
        iyz="0.000919585901244272"
        izz="0.00339029817500588" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="-6.0514E-05 -0.41827 -0.24551"
      rpy="-2.764 0.020381 0.017534" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0.99991 0.0068196 -0.011865" />
    <limit
      lower="-2.85"
      upper="2.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.0554159926220432 -0.0144686246475618 0.551721377853367"
        rpy="0 0 0" />
      <mass
        value="0.154860900976226" />
      <inertia
        ixx="0.000103495914727815"
        ixy="1.35472398196803E-06"
        ixz="-5.2744188577288E-07"
        iyy="0.000100899782063784"
        iyz="2.75058112925981E-06"
        izz="0.000106374165596846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="fixed">
    <origin
      xyz="0.026329 -0.96807 0.20169"
      rpy="-1.5707 0.0050441 0.018685" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.0433912048891215 0.014770306606402 0.0313640863541808"
        rpy="0 0 0" />
      <mass
        value="0.198378759375795" />
      <inertia
        ixx="0.000134196720597321"
        ixy="4.77514343719461E-07"
        ixz="1.12912549007836E-06"
        iyy="0.000128445544255741"
        iyz="-9.0529141025446E-06"
        izz="0.000114024382208925" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4-5"
    type="revolute">
    <origin
      xyz="-0.074526 -0.021852 0.55468"
      rpy="1.5615 0.018575 -0.0051088" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0.99991 0.0068196 -0.011865" />
    <limit
      lower="-2.85"
      upper="0.75"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.00156568688680547 -0.0220990304307618 0.0033870355749327"
        rpy="0 0 0" />
      <mass
        value="0.171054908788993" />
      <inertia
        ixx="0.000112139723073371"
        ixy="-7.95733014065484E-07"
        ixz="2.10001517744292E-07"
        iyy="0.000103191289088596"
        iyz="9.00419260489293E-06"
        izz="0.000117436874559029" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5-6"
    type="revolute">
    <origin
      xyz="-0.039566 0.045795 0.095768"
      rpy="-4.8633E-05 -0.013706 -0.028345" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0.0077139 0.43526 0.90027" />
    <limit
      lower="-1.88"
      upper="2.45"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="EE">
    <inertial>
      <origin
        xyz="-0.040752 -0.15136 0.092346"
        rpy="0 0 0" />
      <mass
        value="0.55463" />
      <inertia
        ixx="0.00037806"
        ixy="1.5871E-05"
        ixz="2.0731E-05"
        iyy="0.00049841"
        iyz="8.0833E-05"
        izz="0.00059879" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/EE.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_PART_FILES/meshes/EE.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6-EE"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-0.046378 -0.30702 0.15843" />
    <parent
      link="link6" />
    <child
      link="EE" />
    <axis
      xyz="0.0626 0.89832 -0.43486" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>