<?xml version="1.0" encoding="utf-8"?>
<!-- Configure Closed Kinetic Chains for Rover -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="call_ckc" params="robot_name">
        <gazebo>
            <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
                <parent_link>leftleg</parent_link>
                <child_model>${robot_name}</child_model>
                <child_link>diffend_2</child_link>
                <output_topic>close_loop_left</output_topic>
            </plugin>
            
            <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
                <parent_link>rightleg</parent_link>
                <child_model>${robot_name}</child_model>
                <child_link>diffend</child_link>
                <output_topic>close_loop_right</output_topic>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>

<!-- diffend_2 is on the left leg, diffend is on the right leg, could be renamed? -->
