<?xml version="1.0" encoding="utf-8"?>
<!-- Publish dynamic joint states for Rover -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:unless value="$(arg use_true_joints)">
        <gazebo>
            <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
                <topic>dynamic_joints</topic>
                <joint_name>blp</joint_name>
                <joint_name>brp</joint_name>
                <joint_name>flp</joint_name>
                <joint_name>frp</joint_name>
                <joint_name>blw</joint_name>
                <joint_name>brw</joint_name>
                <joint_name>flw</joint_name>
                <joint_name>frw</joint_name>
                <joint_name>right_leg</joint_name>
                <joint_name>left_leg</joint_name>
                <joint_name>diffbar_joint</joint_name>
                <joint_name>tl_difflinkeye</joint_name>
                <joint_name>tr_difflinkeye</joint_name>
                <joint_name>bl_difflinkeye</joint_name>
                <joint_name>br_difflinkeye</joint_name>
                <joint_name>tl_difflink</joint_name>
                <joint_name>tr_difflink</joint_name>
                <joint_name>bl_difflink</joint_name>
                <joint_name>br_difflink</joint_name>
            </plugin>
        </gazebo>
    </xacro:unless>
    <xacro:if value="$(arg use_true_joints)">
        <gazebo>
            <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
                <topic>dynamic_joints</topic>
                <joint_name>blp</joint_name>
                <joint_name>brp</joint_name>
                <joint_name>flp</joint_name>
                <joint_name>frp</joint_name>
                <joint_name>blw</joint_name>
                <joint_name>brw</joint_name>
                <joint_name>flw</joint_name>
                <joint_name>frw</joint_name>
                <joint_name>right_leg</joint_name>
                <joint_name>left_leg</joint_name>
                <joint_name>diffbar_joint</joint_name>
                <joint_name>tl_difflinkeye</joint_name>
                <joint_name>tr_difflinkeye</joint_name>
                <joint_name>bl_difflinkeye</joint_name>
                <joint_name>br_difflinkeye</joint_name>
                <joint_name>tl_difflink_roll</joint_name>
                <joint_name>tl_difflink_pitch</joint_name>
                <joint_name>tl_difflink_yaw</joint_name>
                <joint_name>tr_difflink_roll</joint_name>
                <joint_name>tr_difflink_pitch</joint_name>
                <joint_name>tr_difflink_yaw</joint_name>
                <joint_name>bl_difflink_roll</joint_name>
                <joint_name>bl_difflink_pitch</joint_name>
                <joint_name>bl_difflink_yaw</joint_name>
                <joint_name>br_difflink_roll</joint_name>
                <joint_name>br_difflink_pitch</joint_name>
                <joint_name>br_difflink_yaw</joint_name>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>