<?xml version="1.0" encoding="utf-8"?>
<!--This is a file for the imu plugin for the rover in gazebo. This file is referenced at the bottom of rover.urdf.xacro, 
which is how it gets added to the gazebo sim. Author/s: Max Tory -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <link name="gps_link">
    <!-- <visual>
      <geometry>
        <box size="0.065 0.08 0.04"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision> -->
  </link>

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0.0 0.0 0.0"/>
  </joint>

  <gazebo reference="imu_link">
    <sensor name="gps" type="gps">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <gps>
        <position_sensing>
          <horizontal>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </horizontal>
          <vertical>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </vertical>
        </position_sensing>
      </gps>
      <plugin name="gps_plugin" filename="libgazebo_ros_gps_sensor.so">
        <ros>
          <remapping>~/out:=/gps/fix</remapping>
        </ros>
      </plugin>
</sensor>
  </gazebo>
</robot>
