<?xml version="1.0" encoding="utf-8"?>
<!-- Handle custom joints that are not supported by gazebo -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- Ball joint for tr_difflink-->
    <!-- Intermediate link 1 -->
    <link name="tr_difflink_1">
        <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Intermediate link 2 -->
    <link name="tr_difflink_2">
        <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Roll Joint -->
    <joint name="tr_difflink_roll" type="revolute">
        <parent link="diffbar"/>
        <child link="tr_difflink_1"/>
        <origin xyz="-0.38912669878348532526 0.0080507423534932481823 7.2164496600635175128e-16" rpy="1.8972013954619286746 0.81245706006717677283 -1.1914339028340867888" />
        <axis xyz="1 0 0"/>
        <limit effort="20.0" velocity="20.0" lower="-3.141592654" upper="3.141592654"/>
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Pitch Joint -->
    <joint name="tr_difflink_pitch" type="revolute">
        <parent link="tr_difflink_1"/>
        <child link="tr_difflink_2"/>
        <axis xyz="0 1 0"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Yaw Joint -->
    <joint name="tr_difflink_yaw" type="revolute">
        <parent link="tr_difflink_2"/>
        <child link="difflinktop_2"/>
        <axis xyz="0 0 1"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>



    <!-- Ball joint for br_difflink-->
    <!-- Intermediate link 1 -->
    <link name="br_difflink_1">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Intermediate link 2 -->
    <link name="br_difflink_2">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Roll Joint -->
    <joint name="br_difflink_roll" type="revolute">
        <parent link="difflinkbottom_2"/>
        <child link="br_difflink_1"/>
        <origin xyz="-2.2204460492503130808e-16 -2.2204460492503130808e-16 0.030366069404429846257" rpy="1.3580572734639122512 0.40045540725920980574 1.5193397039318303765" />
        <axis xyz="1 0 0"/>
        <limit effort="20.0" velocity="20.0" lower="-3.141592654" upper="3.141592654"/>
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Pitch Joint -->
    <joint name="br_difflink_pitch" type="revolute">
        <parent link="br_difflink_1"/>
        <child link="br_difflink_2"/>
        <axis xyz="0 1 0"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Yaw Joint -->
    <joint name="br_difflink_yaw" type="revolute">
        <parent link="br_difflink_2"/>
        <child link="diffend_2"/>
        <axis xyz="0 0 1"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>


    <!-- Ball joint for bl_difflink-->
    <!-- Intermediate link 1 -->
    <link name="bl_difflink_1">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Intermediate link 2 -->
    <link name="bl_difflink_2">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Roll Joint -->
    <joint name="bl_difflink_roll" type="revolute">
        <parent link="difflinkbottom"/>
        <child link="bl_difflink_1"/>
        <origin xyz="2.7755575615628913511e-16 4.4408920985006261617e-16 0.03036606940442951319" rpy="-1.3819198339232898753 0.4052315082576601335 1.6592791076415036589" />
        <axis xyz="1 0 0"/>
        <limit effort="20.0" velocity="20.0" lower="-3.141592654" upper="3.141592654"/>
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Pitch Joint -->
    <joint name="bl_difflink_pitch" type="revolute">
        <parent link="bl_difflink_1"/>
        <child link="bl_difflink_2"/>
        <axis xyz="0 1 0"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Yaw Joint -->
    <joint name="bl_difflink_yaw" type="revolute">
        <parent link="bl_difflink_2"/>
        <child link="diffend"/>
        <axis xyz="0 0 1"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>



    <!-- Ball joint for tl_difflink-->
    <!-- Intermediate link 1 -->
    <link name="tl_difflink_1">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Intermediate link 2 -->
    <link name="tl_difflink_2">
        <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <!-- Roll Joint -->
    <joint name="tl_difflink_roll" type="revolute">
        <parent link="diffbar"/>
        <child link="tl_difflink_1"/>
        <origin xyz="0.36851088408476384561 0.12523629853057594019 5.5511151231257827021e-17" rpy="-1.5857491383211548275 0.08564555364187358133 -1.4824560922687248787" />
        <axis xyz="1 0 0"/>
        <limit effort="20.0" velocity="20.0" lower="-3.141592654" upper="3.141592654"/>
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Pitch Joint -->
    <joint name="tl_difflink_pitch" type="revolute">
        <parent link="tl_difflink_1"/>
        <child link="tl_difflink_2"/>
        <axis xyz="0 1 0"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>

    <!-- Yaw Joint -->
    <joint name="tl_difflink_yaw" type="revolute">
        <parent link="tl_difflink_2"/>
        <child link="difflinktop"/>
        <axis xyz="0 0 1"/>
        <limit effort="20.0" velocity="20.0" lower="-0.2618" upper="0.2618"/> <!-- +/- 15 degrees -->
        <dynamics damping="0.01" friction="0.0"/>
    </joint>
</robot>