# Documentation
*.rst
*.html
*.css
*.doctree
docs/build/html/
!docs/source/index.rst
!docs/source/conf.py
!docs/source/modules.rst
!docs/source/_static/custom.css

## IDEs
## vscode
.vscode/

## Pycharm
.idea/

## VIM
*.swp


## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/


## Rope project settings
.ropeproject
