# Documentation
*.rst
!docs/source/index.rst
!docs/source/conf.py
!docs/source/modules.rst


## IDEs
## vscode
.vscode/

## Pycharm
.idea/

## VIM
*.swp


## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


## Rope project settings
.ropeproject
